img{
    width: 750px;
}

.topheader{
    background-image: url("pictures/backgroundimageheader.jpg");
    background-size: 1500px;
    height: 100px;
    width: 1500px;
    border-top: solid 5px;
    margin-bottom: 355px;
}

.logo{
    display: flex;
    margin: 0 auto;
}

.hovednav{
    background-color: #0288D1;
    display: flex;
}

.biglogo{
    width: 60px;
    height: 60px;
}

.sidebardropdown{
    grid-area: drop;
}

.videoyt{
    width: 390px;
    height: 300px;
    grid-area: ytv;
}


.linkliste{
    display: flex;
    flex-direction: column;
    width: 390px;
    grid-area: link;
}

.googleknapp{
    background-color: #0277BD;
    border-radius: 5px;
    width: 390px;
    grid-area: goog;
}

.reklametrym{
    width: 790px;
    grid-area: ban;
}

.art1{
    grid-area: art1;
    width: 790px;
}
.art2{
    grid-area: art2;
    width: 790px;
}
.art3{
    grid-area: art3;
    width: 790px;
}

.space{
    grid-area: space;
}





.maingrid{
    display: grid;
    grid-template-columns: 400px 400px 400px 400px;
    grid-auto-rows: 100px;




