

div .flexing{
    width: max;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 500px;
    border: solid 1px black;
}

section .flexboi{
    width: 300px;
    height: 180px;
    margin: 0 auto;
    background-color: #9ac4c7;
    text-align: center;
    border: solid 1px black;
}


p{
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 600;
    font-style: oblique;
}
